<div class="container">
    <h1>Employee</h1>
<div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="name" placeholder="Enter employee's name" >
</div>
<div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="email" placeholder="Enter employee's Email" >
</div>
<div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="role" placeholder="Enter employee's Role" >
</div>
<div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="organization" placeholder="Enter employee's Organization" >
</div>
<div class="form-group">
    <button class="btn btn-success" (click)="CreateEmployee()" [disabled]="!name || !email || !role || !organization">Add new employee</button>
    <button class="btn btn-primary" (click)="ListEmployees()">List Employees</button>
</div>
<div class="form-group" [hidden]="!show">
    <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Organization</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employee">
            <td>{{emp.name}}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.role }} </td>
            <td>{{ emp.organization }} </td>
            <span><button class="btn btn-danger" (click)="DeleteEmployee(emp.id)">Delete Employee</button></span>           
          </tr>
          
        </tbody>
      </table>
      
</div>

</div>
