<div class="container">
    <h1>Organization</h1>
<div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="name" placeholder="Name" >
</div>
<div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="size" placeholder="Size of Organization Unit" >
</div>
<div class="form-group">
  <input type="text" class="form-control" [(ngModel)]="description" placeholder="Description" >
</div>

<button class="btn btn-success" (click)="AddOrganization()">Add new Role</button>
    <button class="btn btn-primary" (click)="ListOrg()">List Roles</button>

    <div class="form-group" [hidden]="!show">
    <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Description</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Org of org">
            <td>{{ Org.name}}</td>
            <td>{{ Org.size}}</td>
            <td>{{ Org.description}}</td>
            <span><button class="btn btn-danger" (click)="DeleteOrg(Org.id)">Delete Role</button></span>           
          </tr>
          
        </tbody>
      </table>
      
</div>


</div>
<div class="container">
    <router-outlet></router-outlet>
</div>

